.vscode
__pycache__

model/*
vocab/*

# final_model
!model/final.pt

# tensorboard runs
runs/*

!runs/Apr22_10-55-06_DESKTOP-U4DMT35
!runs/Apr28_11-46-35_DESKTOP-U4DMT35
!runs/May01_10-26-13_DESKTOP-U4DMT35